@import url('https://fonts.googleapis.com/css?family=Roboto');
$base-font: 'Roboto';
$bg-color: #FFE5C7;
$text-color: #130b03;
$btn-color: #FFCD94;

body {
    background: white;
    margin: 0 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.operating_mode {
    font-family: $base-font;
    color: $text-color;
    position:absolute;
    top: 20%;
}

.navbar {
    position:absolute;
    bottom:0;
    width:100%;
    height:12%;
    display: flex;
    justify-content: space-evenly;
    background: $bg-color;
    box-shadow: 0px -3px 7px 0px rgba(38, 29, 2, 0.2);
}

.btn {
    border: none;
    font-size: 20px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $base-font;
    background: $bg-color;
    color:$text-color;
}

.btn:hover {
    background: $btn-color;
}

.active-tab{
    color: #FF8800;
}

.play {
    border: none;
    background: white;
    position:absolute;
    top: 40%;
    display: none;
}

.stop {
    border: none;
    background: white;
    position:absolute;
    top: 40%;
    display: none;
}

.listVoice{
    list-style-type: none;
}

#list{
    position: absolute;
    top: 33%;
}